---
import { getCollection, CollectionEntry } from "astro:content";
import PostCard from "../../../components/PostCard.astro";
import { formatBlogPosts, slugify } from "../../../js/utils";
import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
  });
  const allAuthors = [
    ...new Set(formattedPosts.map((post) => post.data.author).flat()),
  ];
  return allAuthors.map((author) => {
    const authorPosts = formattedPosts.filter(
      (post) => post.data.author === author
    );
    return {
      params: { author: slugify(author) },
      props: {
        authorName: author,
        posts: authorPosts,
      },
    };
  });
}

interface Props {
  posts: CollectionEntry<"blog">[];
  authorName: string;
}

const { author } = Astro.params;
const { posts, authorName } = Astro.props;
---

<MainLayout title={`Posts by ${authorName}`}>
  <h1 class="mx-auto text-4xl text-center">
    Posts by <span class="grad">{authorName}</span>
  </h1>
  {posts.map((post) => <PostCard {post} />)}
</MainLayout>
