---
import PostCard from "../../components/PostCard.astro";
import { formatBlogPosts } from "../../js/utils";
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");

  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
  });

  return paginate(formattedPosts, {
    pageSize: 10,
  });
}

const { page } = Astro.props;
---

<MainLayout title="Blog">
  <h1 class="mx-auto text-4xl text-center">Blog:</h1>
  <br />
  <!-- <h1 class="mx-auto text-2xl text-center">Latest posts sorted first.</h1> -->

  {page.data.map((post: CollectionEntry<"blog">) => <PostCard {post} />)}

  <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
</MainLayout>
