---
import PostCard from "../../components/PostCard.astro";
import { formatBlogPosts } from "../../js/utils";
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection, CollectionEntry } from "astro:content";

const allPosts = await await getCollection("blog");

const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
});
---

<MainLayout title="Blog">
  <h1 class="mx-auto text-4xl text-center">Blog:</h1>
  <h1 class="mx-auto text-2xl text-center">Latest posts sorted first.</h1>
  {formattedPosts.map((post) => <PostCard {post} />)}
</MainLayout>
