---
import { getCollection, CollectionEntry } from "astro:content";
import PostCard from "../../../components/PostCard.astro";
import { formatBlogPosts, slugify } from "../../../js/utils";
import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  return [
    {
      params: { category: slugify("University") },
      props: { name: "University" },
    },
    {
      params: { category: slugify("General") },
      props: { name: "General" },
    },
    {
      params: { category: slugify("Personal") },
      props: { name: "Personal" },
    },
    {
      params: { category: slugify("Coding") },
      props: { name: "Coding" },
    },
  ];
}
interface Props {
  posts: CollectionEntry<"blog">[];
  name: string;
}

const { category } = Astro.params;
const { name } = Astro.props;

const allPosts = await getCollection("blog");
const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
});
const catPosts = formattedPosts.filter(
  (post) => slugify(post.data.category) === category
);
---

<MainLayout title={`Posts about ${name}`}>
  <h1 class="mx-auto text-4xl text-center">
    Posts about <span class="grad">{name}</span>
  </h1>
  {catPosts.map((post) => <PostCard {post} />)}
</MainLayout>
