---
import { getCollection, CollectionEntry } from "astro:content";
import PostCard from "../../../components/PostCard.astro";
import { formatBlogPosts, slugify } from "../../../js/utils";
import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("blog");
  const formattedPosts: CollectionEntry<"blog">[] = formatBlogPosts(allPosts, {
    filterOutDrafts: true,
    filterOutFuturePosts: true,
    sortByDate: true,
  });
  const allCategories = [...new Set(formattedPosts.map((post) => post.data.category).flat())];
  return allCategories.map((category) => {
    const categoryPosts = formattedPosts.filter((post) => post.data.category === category);
    return {
      params: { category: slugify(category) },
      props: {
        categoryName: category,
        posts: categoryPosts,
      },
    };
  });
}
interface Props {
  posts: CollectionEntry<"blog">[];
  categoryName: string;
}

const { category } = Astro.params;
const { posts, categoryName } = Astro.props;

const catPosts = posts.filter((post) => slugify(post.data.category) === category);
---

<MainLayout title={`Posts about ${categoryName}`}>
  <h1 class="mx-auto text-4xl text-center">
    Posts about <span class="grad">{categoryName}</span>
  </h1>
  {catPosts.map((post) => {
    post.data.image.src = ("../" + post.data.image.src);
    <PostCard {post} />
  })}
</MainLayout>
