/* div,p,span,img,a,table,tr,td,button { outline: 1px solid red !important; } */
@tailwind base;
.link:hover{
    @apply text-gradient-anim;
    transition: all 3000ms ease;
}
.grad{
    @apply bg-gradient-to-r from-gradient1 to-gradient2 text-transparent bg-clip-text;
}

html{
    @apply text-notwhite bg-notblack; 
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-gutter: stable;
    background-color: rgb(45, 46, 46)
}

.btn{
    @apply font-bold py-2 px-4 rounded text-notwhite;
}

.nav-link-selected{
    /* Do something here maybe? */
}

/* ! SPRITES ! */

.discord-sprite{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -262px -10px;
}
.discord-sprite:hover {
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -10px -10px;
}

.email-sprite{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -94px -10px;
}
.email-sprite:hover{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -10px -94px;
}

.github-sprite{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -94px -94px;
}
.github-sprite:hover{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -178px -10px;
}

.linkedin-sprite{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -178px -94px;
}
.linkedin-sprite:hover{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -10px -178px;
}

.reddit-sprite{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -94px -178px;
}
.reddit-sprite:hover{
    width: 64px; height: 64px;
    background: url('../assets/css_sprites.png') -178px -178px;
}





/* ! Amimated background? */



@keyframes background-pan {
    from {
      background-position: +100% center;
    }
    
    to {
      background-position: -100% center;
    }
  }

.text-gradient-anim{
  animation: background-pan 1s linear infinite;
  background: linear-gradient(
    to right,
    rgba(224, 11, 139, 1),
    rgba(250, 75, 0, 1),
    rgba(224, 11, 139, 1),
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}