---
import type { renderComponent } from "astro/compiler-runtime";
import MainLayout from "../layouts/MainLayout.astro";
// Component Imports

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout title="Home">
  <div class="text-center pt-5 text-6xl">
    <p>👋 I'm <span class="grad">Adam</span>.</p>
    <p class="text-4xl pt-3">A <span class="grad"><span id="age">00</span> year old</span> developer from the UK.</p>
    <p class="text-4xl">
      <type class="typewrite grad" data-period="2000" data-type='[ "I Make Webites", "I Maintain Servers", "I Write Discord Bots" ]'></type><noscript class="grad"
        >I make Websites <i class="grad">ps, your javascript is disabled.</i></noscript
      >
    </p>

    <p class="text-base pt-12">
      Click on the <span class="grad"><b>icons</b></span> below to learn more about me.
    </p>
  </div>
  <!-- Socials & Stuff -->
  <p class="text-center text-xl"></p>
  <div class="grid grid-flow-col auto-cols-auto justify-center pt-5">
    <a href="https://discord.com/users/234439833802637312" target="_blank">
      <div class="discord-sprite m-2" title="My Discord"></div>
    </a>

    <a href="https://www.linkedin.com/in/adambolton53/" target="_blank">
      <div class="linkedin-sprite m-2" title="Linkedin"></div>
    </a>

    <a href="https://www.reddit.com/user/AWildLerndmina" target="_blank">
      <div class="reddit-sprite m-2" title="Reddit"></div>
    </a>

    <a href="https://github.com/lerndmina" target="_blank">
      <div class="github-sprite m-2" title="Github (See what I've been up to)"></div>
    </a>
    <a href="mailto:adam@lerndmina.dev" target="_new">
      <div class="email-sprite m-2" title="Email Me!"></div>
    </a>
  </div>
  <script>
    var TxtType = function (el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = "";
      this.tick();
      this.isDeleting = false;
    };

    function calculateAge(birthday) { // birthday is a date
    var ageDifMs = Date.now() - birthday;
    var ageDate = new Date(ageDifMs); // miliseconds from epoch
    return Math.abs(ageDate.getUTCFullYear() - 1970);
    }

    TxtType.prototype.tick = function () {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">' + this.txt + "</span>";

      var that = this;
      var delta = 175 - Math.random() * 100;

      if (this.isDeleting) {
        delta /= 2.5;
      }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === "") {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }

      setTimeout(function () {
        that.tick();
      }, delta);
    };

    const typeWrite = function () {
    var elements = document.getElementsByClassName("typewrite");
    for (var i = 0; i < elements.length; i++) {
      var toRotate = elements[i].getAttribute("data-type");
      var period = elements[i].getAttribute("data-period");
      if (toRotate) {
        var array = JSON.parse(toRotate);
        array = array.sort((a: string, b: string) => 0.5 - Math.random());
        new TxtType(elements[i], array, period);
      }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
    document.body.appendChild(css);
  };

  // This is a hack to make sure the typewriter effect works on the first page load and after a page swap.
  // It's so fucking dumb, there's probably a better way but it's 5am and I'm tired.
  document.addEventListener("astro:page-load", () => {
    typeWrite();
  }, { once: true });

  document.addEventListener("astro:after-swap", () => {
    typeWrite();
  });

  const ageElement = document.getElementById("age");
  if (ageElement){
    var date = new Date("2000-04-04")
    ageElement.innerHTML = calculateAge(date).toString()
  }
  </script>
</MainLayout>
