---
import { randomUUID } from "crypto";

interface Props {
  addConfetti?: boolean;
}

const { addConfetti = false, ...rest } = Astro.props as Props;
const theRest = rest as any;
const buttonId = randomUUID();
const extraClasses = theRest.class || "";
---

<button
  id={`${addConfetti}-${buttonId}`}
  class={`appearance-none py-2 px-4 bg-notwhite text-notblack font-semibold rounded-lg shadow-md focus:outline-none button-gradient-anim ${extraClasses.length ? extraClasses : ""}`}>
  <slot />
</button>

<script>
  import confetti from "canvas-confetti";
  // get a button where the id starts with "true-"
  $(function () {
    $('button[id^="true-"]').on("click", function (event) {
      confetti({
        spread: 140, // Increase spread to make confetti spread out more
        angle: 90,
        gravity: 2, // Increase gravity to make confetti fall faster
        colors: ["#e00b8b", "#fa4b00"],
        origin: { x: event.pageX / window.innerWidth, y: event.pageY / window.innerHeight },
        startVelocity: 20,
      });
    });
  });
</script>
