---
import Link from "./Link.astro";

var date = new Date();
var dd = String(date.getDate()).padStart(2, "0");
var mm = String(date.getMonth() + 1).padStart(2, "0"); //January is 0!
var yyyy = date.getFullYear();

var today = yyyy + "/" + mm + "/" + dd;
---

<footer class="sticky top-[100vh] py-10 text-center min-w-full text-md md:text-lg">
  <p>
    <noscript class="font-bold text-xl">Javascript is disabled, you may face errors or strangeness. 
      <a href="https://www.enable-javascript.com"
        class="font-bold grad">Enable it here.</a></noscript>
  </p>
  <p class="font-semibold">
    <Link href="https://imadam.io" text="ImAdam.io" /> | Copyright &copy; <span id="copyright"></span> | All rights reserved
  </p>
  <p class="text-xs">
    Built using <Link href="https://astro.build" text="AstroJS" /> 🚀 & <Link href="https://tailwindcss.com" text="TailwindCSS" />| Last updated {today}
  </p>
  <p id="chrome-check" class="text-xs invisible">This site is best viewed in a chromium based browser</p>
</footer>

<script>
  const isChromium = (window as any).chrome;
  const hasTouchScreen = window.matchMedia("(hover: none)").matches;

  if (!isChromium && !hasTouchScreen) {
    // not chrome
    // Edit chrome-check element

    const chromeCheck = document.querySelector("#chrome-check")!;
    chromeCheck.classList.remove("invisible");
  }
</script>

<script>
  document.querySelector("#copyright")!.textContent = new Date().getFullYear().toString();
</script>
