---
import MainLayout from "../../layouts/MainLayout.astro";
import Link from "../../components/Link.astro";
---

<MainLayout title="Your Account">
  <div class="text-center">
    <!-- Not already logged in -->
    <div class="" id="loginDiv">
      <button class="btn btn-primary" id="loginBtn">Login with Discord</button>
    </div>
    <!-- Already logged in -->
    <div class="hidden" id="loggedInDiv">
      <h1 class="text-2xl">Logged in <span id="username"></span></h1>
      <button class="btn btn-primary" id="logoutBtn">Logout</button>
    </div>
  </div>
  <script>
    import { PB_URL } from "../../utils/clientside-data";
    import PocketBase from "pocketbase";
    const pb = new PocketBase(PB_URL);

    const loggedIn = pb.authStore.isValid;

    if (loggedIn) {
      document.getElementById("loginDiv")!.classList.add("hidden");
      document.getElementById("loggedInDiv")!.classList.remove("hidden");
    } else {
      document.getElementById("loginDiv")!.classList.remove("hidden");
      document.getElementById("loggedInDiv")!.classList.add("hidden");
    }

    $("#loginBtn").on("click", async () => {
      try {
        const authData = await pb.collection("users").authWithOAuth2({ provider: "discord", scopes: ["identify", "email", "guilds"] });
        await pb.collection("users").update(authData.record.id, { discord_meta: authData.meta, name: authData.meta?.rawUser.global_name, avatar_url: authData.meta?.avatarUrl });
        window.location.reload();
      } catch (error) {
        console.error(error);
      }
    });

    $("#logoutBtn").on("click", async () => {
      pb.authStore.clear();
      window.location.reload();
    });
  </script>
</MainLayout>
