---
import MainLayout from "../../layouts/MainLayout.astro";
import Link from "../../components/Link.astro";

const url = import.meta.env.DISCORD_OAUTH_URL;
import { Icon } from "astro-icon/components";
---

<MainLayout title="Login">
  <div class="text-center">
    <Icon name="ic:baseline-discord" size={50} />
  </div>
</MainLayout>
