---
import MainLayout from "../../layouts/MainLayout.astro";
import Link from "../../components/Link.astro";
import { PocketBaseLoginErrorResponse } from "../../utils/types";
import PocketBase from "pocketbase";
const PB_ROOT = import.meta.env.PB_ROOT;
if (!PB_ROOT) {
  return new Response('Internal error code: "PB MISSING"', { status: 500 });
}

console.log(PB_ROOT);

let loginError = "";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const email = data.get("username")?.toString();
    const password = data.get("password")?.toString();
    if (email && password) {
      const pb = new PocketBase(PB_ROOT);
      const authData = await pb.collection("users").authWithOAuth2({ provider: "discord" });

      console.log(pb.authStore.isValid);
      console.log(pb.authStore.token);
      console.log(pb.authStore.model?.id);
    } else {
      loginError = "Please enter a valid email and password";
    }
  } catch (e) {
    console.error(e);
    const res = e.response as PocketBaseLoginErrorResponse;
    loginError = res.message + " Please check your email and password";

    if (res) {
      // loginError =
    } else {
      console.error(e);
      return new Response("Internal error code: 'LOGIN_ERROR'", { status: 500 });
    }
  }
}
---

<!-- Get request -->
<MainLayout title="Login">
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="w-full max-w-xs">
      <h1 class="text-4xl pb-5 text-center">Login</h1>
      <form class="px-8 pt-6 pb-8 mb-4" method="POST">
        <div class="mb-4">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" name="username" placeholder="CoolUsername" />
        </div>
        <div class="mb-6">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" type="password" name="password" placeholder="A_Really_Strong_Password!" />
        </div>
        <h3 id="error" class="text-red-500 text-sm italic">{loginError}</h3>
        <div class="flex items-center justify-between">
          <button class="font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-max" type="submit"> Login </button>
          <button class="font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-max" type="button" id="discord-login">Login With Discord</button>
        </div>
      </form>
    </div>
  </div>
</MainLayout>

<script>
  import PocketBase from "pocketbase";
  const PB_ROOT = "https://pb.imadam.io";
  console.log(PB_ROOT);
  $("#discord-login").on("click", async () => {
    console.log("clicked");
    const pb = new PocketBase(PB_ROOT);
    const authData = await pb.collection("users").authWithOAuth2({ provider: "discord" });

    console.log(pb.authStore.isValid);
    console.log(pb.authStore.token);
    console.log(pb.authStore.model?.id);
  });
</script>
