---
import MainLayout from "./MainLayout.astro"

---

<MainLayout title="blogposttitle">
    <header>
        <div class="container">

        </div>
        <img src="" alt="">
    </header>
    <div class="post-content px-16">
        <div class="content">
            <slot />
        </div>
    </div>
</MainLayout>